
:root {
    --primary-background-color: #4263EB;
    --primary-color: #FFFFFF;
    --primary-hover: #2342C0;
    --secondary-background-color:  #7048E8;
    --secondary-color: #FFFFFF;
    --secondary-hover: #5028C6;
    --alternate-background-color: #FFFFFF;
    --alternate-color: #495057;
    --opacity-prim-second: 0.5; 
    --coursor-disabled: not-allowed;
    --coursor-pointer: pointer; 
}

/* button block */

.button {
    height: 48px;
    width: 189px;
    border-radius: 8px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
    /* display: inline-block; */

}

.button__text {
    padding: 15px;
}

/* primary block */

.button_primary, .button_primary-disabled {
    background-color: var(--primary-background-color);
    color: var(--primary-color);
    border: none;
    cursor: var(--coursor-pointer);
}

.button_primary:hover {
    background-color: var(--primary-hover);
}

.button_primary-disabled {
    opacity: var(--opacity-prim-second);
    cursor: var(--coursor-disabled);
}

/* secondary block */

.button_secondary, .button_secondary-disabled {
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
    border: none;
    cursor: var(--coursor-pointer);
}

.button_secondary:hover {
    background-color: var(--secondary-hover);
}

.button_secondary-disabled {
    opacity: var(--opacity-prim-second);
    cursor: var(--coursor-disabled);
}

/* alternate block */

.button_alternate, .button_alternate-disabled {
    background-color: var(--alternate-background-color);
    color: var(--alternate-color);
    box-sizing: border-box;
    border: 1px solid #ACB5BD;
    cursor: var(--coursor-pointer);
}

.button_alternate:hover {
    border: 1px solid #212429;
    box-sizing: border-box;
}

.button_alternate-disabled {
    color: #ACB5BD;
    cursor: var(--coursor-disabled);
}




