


.histogram {
    border-radius: 8px;
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    flex-flow: column wrap;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
}



.histogram__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;

}

.header__tile {
    margin-top: 16px;
    margin-bottom: 6px;
    color: #212429;
    opacity: 0.8;
}

.header__link {
   margin-top: 19px;
   color: #4263EB;
   text-decoration: none;
}

.histogramm__info {
   display: flex; 
   align-content: space-between;
}

.histogram__values {
    font-size: 20px;
    line-height: 26px;
    color: #212429;
    margin-bottom: 39px;
}

.histogram__columns {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    height: 50px;
    gap: 1px;
    overflow:hidden;
}

.histogram__column {
    flex-basis: 9px;
    background-color: #4263EB;
    flex-grow: 1;
}





