.aside {
    position: fixed;
    top: 4rem;
    left: 0;
    transform: translateX(-100%);
    transition: transform 200ms linear;
    width: 290px;
    margin-left: 1rem;
    background-color: var(--white);
}

.aside__burger-menu[data-open] {
    transform: translateX(0);
    
}

.aside__menu {
    display: grid;
    grid-template-rows: auto;
    gap: 1rem;
}

.aside__title {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.625rem;
    color: var(--black);
    margin: 0;
}

.aside__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--black);
    list-style-type: none;
    
}

.aside__href {
    text-decoration: none;
    color: var(--black);
}

.aside__nav {
    display: grid;
    /* grid-template-rows: repeat(auto-fill, auto);
    gap: 0.25rem; */
}

.aside__nav-ul {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 1rem;
}

.aside__link_theme_false {
    color: var(--black);
}

.aside__link_active-true {
    color: #D84910;

}


@media screen and (min-width: 376px) {
    .aside {
        all: revert;
        /* https://stackoverflow.com/questions/15901030/reset-remove-css-styles-for-element-only */
        /* display: block; */
    }

    .aside__template {
        display: block;
    }

    .aside__nav-ul {
        gap: 0.25rem;  
    }


    .aside__link {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }

}