<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>page component</title>
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="../template/template.css">
</head>

<body>
    <div class="page page_inner">
        <div class="page__header"></div>
        <div class="page__main">
            <div class="container">
                <div class="aside">
                    <div class="aside__menu">
                        <h4 class="aside__title">Components</h4>
                        <div class="aside__nav">
                            <div class="aside__link aside__link_theme_false">Modal</div>
                            <div class="aside__link aside__link_theme_false">Tooltip</div>
                            <div class="aside__link aside__link_theme_false">Avatar</div>
                            <div class="aside__link aside__link_theme_false">Calendar</div>
                            <div class="aside__link aside__link_active-true">Histogram</div>
                            <div class="aside__link aside__link_theme_false">Custom form elements</div>
                            <div class="aside__link aside__link_theme_false">Main page</div>
                        </div>
                    </div>
                </div>
                <div class="main"></div>
            </div>
            <div class="footer page__footer">
                <div class="footer__title">Reusable component library</div>
            </div>
        </div>
    </div>
</body>

</html>

