.page {
    display: grid;
    grid-template-columns: 1fr;
}

.page__header {
    height: 4rem;
    background: #F9FAFC;
}


@media screen and (min-width: 376px) {

    
    .page__header {
        height: 5.125rem;
    }
    
    .page__main {
        padding-top: 2.25rem;
    }
    
    .page__container {
        display: grid;
        grid-template-columns: 14.3125rem 1fr;
        gap: 3.5rem;
        padding-bottom: 5.75rem;
    }
    
    
    .page__footer {
        display: flex;
        padding-bottom: 3.5rem;
        padding-top: 0;
    }
    
    .page__footer-title {
    
        font-size: 0.75rem;
        line-height: 1.125rem;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    
        color: var(--grey-3)
    }
}

