@import '../fonts/fonts.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

/* font-family: 'Inter', sans-serif; */


.page {
    min-width: 1440px;
    display: flex;
    flex-flow: wrap column;
    align-content: space-between;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
}

.container {
    margin-left: 160px;
    margin-right: 160px;
}

h1 {
    margin: 0;
}

.header {
    text-align: left;
    padding-top: 96px;
    padding-bottom: 77px;
}


.preview {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 67px;
    display: flex;
}

.preview__cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    gap: 30px;
}

.cards__card {
    box-sizing: border-box;
    width: calc((100 / 3) * 1% - 30px);
    height: 300px;
    background: rebeccapurple;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    border: 1px solid black;
}







