@import '../fonts/fonts.css';
@import '../css/page/page.css';
@import '../css/container/container.css';
@import '../css/header/header.css';
@import '../css/preview/preview.css';
@import '../css/footer/footer.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);


    --primary-background-color: #4263EB;
    --primary-color: #FFFFFF;
    --primary-hover: #2342C0;
    --secondary-background-color:  #7048E8;
    --secondary-color: #FFFFFF;
    --secondary-hover: #5028C6;
    --alternate-background-color: #FFFFFF;
    --alternate-color: #495057;
    --opacity-prim-second: 0.5; 
    --coursor-pointer: pointer; 
}

/* font-family: 'Inter', sans-serif; */


.body {
    width: 100%;
}

h1, h2 {
    margin: 0;
}

