.checkbox {
    display: inline-flex;
    cursor: pointer;
    position: relative;
}

.checkbox__input {
    position: absolute;
    outline: none;
    clip: rect(0, 0, 0, 0);
}

.checkbox__state {
    display: flex;
    align-items: center;
    gap: 12px;
}


.checkbox__control {

    box-sizing: border-box;
    background: var(--white);
    border: 1px solid #DDE2E5;
    border-radius: 4px;

    height: 28px;
    width: 28px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.checkbox__icon {
    display: none;
}

.checkbox__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
}



.checkbox__input:checked~.checkbox__state .checkbox__control {
    background: #4263EB;
    border-color: #4263EB;
}

.checkbox__input:disabled~.checkbox__state .checkbox__control {
    background: #DDE2E5;
}

.checkbox__input:disabled~.checkbox__state .checkbox__title {
    color: #DDE2E5;
}

.checkbox__input:checked~.checkbox__state .checkbox__icon {
    display: block;
}

.checkbox__input:focus~.checkbox__state .checkbox__title {
    text-decoration: underline;
}



