.preview {
    flex-grow: 1;
    padding-top: 68px;
    padding-bottom: 204px;
}

.preview__cards {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    width: 100%;
}

.preview__card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 30px;
    box-sizing: border-box;
    height: 367px;
    /* заполнить пустосту */
    flex-basis: calc((100 / 3) * 1% - 30px);

    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: var(--black);

}

.preview__image {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.preview__title {
    flex-grow: 0;
}
